%h1 SERVICE STATUS OVERVIEW

.boxed
  %b WARNING! YOU CAN BREAK THE SYSTEM BY PLAYING WITH THINGS ON THIS PAGE.
  %p This page provides an overview of the running state of the system
  %p and allows for services to be manually started/stopped. 
 

