<p id="notice"><%= notice %></p>

<p>
  <b>Contact name:</b>
  <%= @booking_contact.contact_name %>
</p>


<%= link_to 'Edit', edit_booking_contact_path(@booking_contact) %> |
<%= link_to 'Back', booking_contacts_path %>
