
- unless defined?(no_header)
  .page-header
- else
  %p= "No bookings exist for this project" if @bookings.size == 0

- if @bookings.size > 0
  = render :template => "bookings/_index_detail_table", :locals => {:no_header => true}


.table-responsive
  %table{class: ''}
    %tr{class: 'row'}
      %td{class: 'col-md-7'}
      %td{class: 'col-md-4'}
        = link_to 'CREATE NEW BOOKING',
            polymorphic_path([:new, @project, :booking]),
            :class => 'btn btn-mini btn-danger w_440' if @project
