<p id="notice"><%= notice %></p>

<p>
  <b>Email or phone:</b>
  <%= @booking_contact_detail.email_or_phone %>
</p>


<%= link_to 'Edit', edit_booking_contact_detail_path(@booking_contact_detail) %> |
<%= link_to 'Back', booking_contact_details_path %>
