- model_class = Project

.page-header
  %h1 MANUALLY CREATE PROJECT

  .well
    Unless you have a special reason to do so (e.g. scheduling projects in 
    advance) you should use the project creation facilities of the recording
    suite of software. This page is not intended for day to day project creation.

= render 'form'
