/*
  *= require bootstrap_and_overrides
  *= require 'bootstrap-datetimepicker'
  *= require_self
*/

td a { color: #000000; }

.boxed {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #FFF;
  border-color: #DDD;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px 40 0px 0px;
  box-shadow: none;
}

.menu_header, .ls { letter-spacing: 6px; }
th, h1 { letter-spacing: 6px; }

body { padding-bottom: 10px; }

.w_10 { width: 10px; }
.w_20 { width: 20px; }
.w_30 { width: 30px; }
.w_40 { width: 40px; }
.w_50 { width: 50px; }
.w_100 { width: 100px; }
.w_200 { width: 200px; }
.w_220 { width: 220px; }
.w_440 { width: 440px; }

.td_5 { width: 5% }
.td_10 { width: 10% }
.td_15 { width: 15% }
.td_20 { width: 20% }
.td_25 { width: 25% }
.td_30 { width: 30% }
.td_40 { width: 40% }
.td_50 { width: 50% }
.td_60 { width: 60% }
.td_70 { width: 70% }
.td_80 { width: 80% }
.td_90 { width: 90% }

.navbar-admin {
  background-color: black;
  margin-top: -20px;
  border: 0px;
  border-radius: 0px;
}

.navbar-fixed-top {
  padding-bottom: 5px;
  position:relative;
  color:#cdbfe3;
  text-align:center;
  text-shadow:0 1px 0 rgba(0,0,0,.1);
  background-color:#6f5499;
  background-image:-webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
  background-image:linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0)
}
.navbar-brand { margin-top: -10px; }
#navbar-logo-text { float: left; margin-left: 10px; margin-top: 14px; margin-bottom: 0px; }

#contact-info    {
  position:relative;
  height:55px;
  float:right;
  color:#fff;
  margin-right:48px;
  margin-top:12px;
  z-index:200;
}

#tel, #mail {
  background-repeat: no-repeat;
  padding-left:25px;
  height:24px; 
  float: left;
  clear: both;
}

#contact-info #tel {
  background-image: url('/assets/logo_tel_background.png');      
  color:#fff;
  font-weight:normal;
  margin-top: 0px;
  margin-bottom: 5px;
}

#contact-info #mail {
  background-image: url('/assets/logo_mail_background.png');      
  color:#fff;
  font-weight:normal;
}

.session-info {
  text-align:left;
  text-transform: uppercase;
  color:#1E2658;
  font-family: "Century Gothic";
  font-size: 1.8em;
}

.session-info .client { font-size: medium; }
.session-info .date { font-size: small; }
.session-info .studio { font-size: small;  }

.recording { 
  color:#1E2658;
  font-family: "Century Gothic";
  font-weight: normal;
  font-size: large;
}

.table td {
  vertical-align: middle!important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.black-bg { 
  background-color: black;
  color: white;
}
.table th {
  color: black;
  text-transform: uppercase;
}

.gothic {
  color:#1E2658;
  font-family: "Century Gothic";
  text-transform: uppercase;
}

.digg_pagination {
  float:right;
  margin-right: 120px;
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
